
# Setting Aplikasi
APP_NAME="Sistem Peminjaman Ruangan Kampus"
APP_ENVIRONMENT=Development
APP_URL=http://localhost:5000
APP_PORT=5000
HTTPS_PORT=5001

FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# db
DB_CONNECTION=Data Source=RoomBooking.db

ENABLE_SWAGGER=true
ENABLE_CORS=true
ENABLE_HTTPS_REDIRECT=true

LOG_LEVEL=Information
LOG_TO_FILE=false
